<div>
  <h2 id="page-heading" data-cy="BooksOptionDetailsHeading">
    <span>Books Option Details</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-books-option-details"
        [routerLink]="['/books-option-details/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Books Option Details </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="booksOptionDetails?.length === 0">
    <span>No Books Option Details found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="booksOptionDetails && booksOptionDetails.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="avatarAttributes">
            <div class="d-flex">
              <span>Avatar Attributes</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="avatarCharactor">
            <div class="d-flex">
              <span>Avatar Charactor</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="style">
            <div class="d-flex">
              <span>Style</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="option">
            <div class="d-flex">
              <span>Option</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isActive">
            <div class="d-flex">
              <span>Is Active</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="books.id">
            <div class="d-flex">
              <span>Books</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let booksOptionDetails of booksOptionDetails; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/books-option-details', booksOptionDetails.id, 'view']">{{ booksOptionDetails.id }}</a>
          </td>
          <td>{{ booksOptionDetails.avatarAttributes }}</td>
          <td>{{ booksOptionDetails.avatarCharactor }}</td>
          <td>{{ booksOptionDetails.style }}</td>
          <td>{{ booksOptionDetails.option }}</td>
          <td>{{ booksOptionDetails.isActive }}</td>
          <td>
            <div *ngIf="booksOptionDetails.books">
              <a [routerLink]="['/books', booksOptionDetails.books.id, 'view']">{{ booksOptionDetails.books.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/books-option-details', booksOptionDetails.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/books-option-details', booksOptionDetails.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(booksOptionDetails)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="booksOptionDetails && booksOptionDetails.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
