<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="layerGroup">
      <h2 data-cy="layerGroupDetailsHeading"><span>Layer Group</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ layerGroup.id }}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
          <span>{{ layerGroup.code }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ layerGroup.description }}</span>
        </dd>
        <dt><span>Is Active</span></dt>
        <dd>
          <span>{{ layerGroup.isActive }}</span>
        </dd>
        <dt><span>Image Url</span></dt>
        <dd>
          <span>{{ layerGroup.imageUrl }}</span>
        </dd>
        <dt><span>Layers</span></dt>
        <dd>
          <span *ngFor="let layers of layerGroup.layers; let last = last">
            <a [routerLink]="['/layers', layers.id, 'view']">{{ layers.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/layer-group', layerGroup.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
