<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-books-page-heading" data-cy="BooksPageCreateUpdateHeading">Create or edit a Books Page</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_num">Num</label>
          <input type="number" class="form-control" name="num" id="field_num" data-cy="num" formControlName="num" />
          <div *ngIf="editForm.get('num')!.invalid && (editForm.get('num')!.dirty || editForm.get('num')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('num')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('num')?.errors?.number"> This field should be a number. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_isActive">Is Active</label>
          <input type="checkbox" class="form-check" name="isActive" id="field_isActive" data-cy="isActive" formControlName="isActive" />
        </div>

        <div class="row mb-3">
          <label for="field_pageDetails">Page Details</label>
          <select
            class="form-control"
            id="field_pageDetails"
            data-cy="pageDetails"
            multiple
            name="pageDetails"
            formControlName="pageDetails"
            [compareWith]="comparePageLayers"
          >
            <option [ngValue]="pageLayersOption" *ngFor="let pageLayersOption of pageLayersSharedCollection">
              {{ pageLayersOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
