<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-avatar-charactor-heading" data-cy="AvatarCharactorCreateUpdateHeading">Create or edit a Avatar Charactor</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_code">Code</label>
          <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
          <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('description')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_isActive">Is Active</label>
          <input type="checkbox" class="form-check" name="isActive" id="field_isActive" data-cy="isActive" formControlName="isActive" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_imgUrl">Img Url</label>
          <input type="text" class="form-control" name="imgUrl" id="field_imgUrl" data-cy="imgUrl" formControlName="imgUrl" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_width">Width</label>
          <input type="number" class="form-control" name="width" id="field_width" data-cy="width" formControlName="width" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_height">Height</label>
          <input type="number" class="form-control" name="height" id="field_height" data-cy="height" formControlName="height" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_x">X</label>
          <input type="number" class="form-control" name="x" id="field_x" data-cy="x" formControlName="x" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_y">Y</label>
          <input type="number" class="form-control" name="y" id="field_y" data-cy="y" formControlName="y" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_layerGroup">Layer Group</label>
          <select
            class="form-control"
            id="field_layerGroup"
            data-cy="layerGroup"
            name="layerGroup"
            formControlName="layerGroup"
            [compareWith]="compareLayerGroup"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="layerGroupOption" *ngFor="let layerGroupOption of layerGroupsSharedCollection">
              {{ layerGroupOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_character">Character</label>
          <select
            class="form-control"
            id="field_character"
            data-cy="character"
            name="character"
            formControlName="character"
            [compareWith]="compareCharacter"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="characterOption" *ngFor="let characterOption of charactersSharedCollection">
              {{ characterOption.code }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
