<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="styles">
      <h2 data-cy="stylesDetailsHeading"><span>Styles</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ styles.id }}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
          <span>{{ styles.code }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ styles.description }}</span>
        </dd>
        <dt><span>Img URL</span></dt>
        <dd>
          <span>{{ styles.imgURL }}</span>
        </dd>
        <dt><span>Is Active</span></dt>
        <dd>
          <span>{{ styles.isActive }}</span>
        </dd>
        <dt><span>Width</span></dt>
        <dd>
          <span>{{ styles.width }}</span>
        </dd>
        <dt><span>Height</span></dt>
        <dd>
          <span>{{ styles.height }}</span>
        </dd>
        <dt><span>X</span></dt>
        <dd>
          <span>{{ styles.x }}</span>
        </dd>
        <dt><span>Y</span></dt>
        <dd>
          <span>{{ styles.y }}</span>
        </dd>
        <dt><span>Is Text</span></dt>
        <dd>
          <span>{{ styles.isText }}</span>
        </dd>
        <dt><span>Styles Details</span></dt>
        <dd>
          <span *ngFor="let stylesDetails of styles.stylesDetails; let last = last">
            <a [routerLink]="['/styles-details', stylesDetails.id, 'view']">{{ stylesDetails.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/styles', styles.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
