<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="avatarCharactor">
      <h2 data-cy="avatarCharactorDetailsHeading"><span>Avatar Charactor</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ avatarCharactor.id }}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
          <span>{{ avatarCharactor.code }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ avatarCharactor.description }}</span>
        </dd>
        <dt><span>Is Active</span></dt>
        <dd>
          <span>{{ avatarCharactor.isActive }}</span>
        </dd>
        <dt><span>Img Url</span></dt>
        <dd>
          <span>{{ avatarCharactor.imgUrl }}</span>
        </dd>
        <dt><span>Width</span></dt>
        <dd>
          <span>{{ avatarCharactor.width }}</span>
        </dd>
        <dt><span>Height</span></dt>
        <dd>
          <span>{{ avatarCharactor.height }}</span>
        </dd>
        <dt><span>X</span></dt>
        <dd>
          <span>{{ avatarCharactor.x }}</span>
        </dd>
        <dt><span>Y</span></dt>
        <dd>
          <span>{{ avatarCharactor.y }}</span>
        </dd>
        <dt><span>Layer Group</span></dt>
        <dd>
          <div *ngIf="avatarCharactor.layerGroup">
            <a [routerLink]="['/layer-group', avatarCharactor.layerGroup.id, 'view']">{{ avatarCharactor.layerGroup.id }}</a>
          </div>
        </dd>
        <dt><span>Character</span></dt>
        <dd>
          <div *ngIf="avatarCharactor.character">
            <a [routerLink]="['/character', avatarCharactor.character.id, 'view']">{{ avatarCharactor.character.code }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/avatar-charactor', avatarCharactor.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
